---
layout: default
---

<!-- Page Header -->
<header class="intro-header">
	<div class="post-heading"> 
         <h1>关于Cocolian</h1>                             
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div>	  
Cocolian Framework，面向互联网商户提供的支付系统基础组件。 支付系统几乎是互联网应用必不可少的模块，也是各个互联网应用中少数可以标准化的系统。 
Cocolian Framework 是基于<a href="http://blog.lixf.cn">凤凰牌老熊的系列文章</a> 而设计的，针对微服务架构的支付系统，提供基础组件。<br/>
 
各个互联网公司在收单和代付方面上的需求是有共性的，可以作为一个通用系统来开发。当前多数公司的支付系统是在公司早期技术力量比较薄弱的时候建立的，也有不少系统是从银行或者第三方支付公司的支付系统基础上建立起来的，技术上比较保守，架构上设计不合理。 很多系统大量地使用Map类型数据来做接口的输入输出，
这导致支付系统的开发和维护难度很高。支付对交易的安全和可靠性要求高。除了从设计上需要尽可能地保证外，还需要从使用经验中吸取教训，避免重复踩坑。 每个坑都意味着公司的经济上的损失。 <br/>
通过这种方式，我们可以汇总各种场景下的使用问题，并以此来更新这些软件，避免问题的扩散。我们希望建立一个开源系统， 使用新的、成熟的微服务架构，合理引入新技术，
以产品需求为主导，帮助实现一个架构合理、代码优雅、易于使用的支付系统。 
		</div>

<div class="session_list">
	<section><header><a href="dev/">知识分享</a></header>
	<article>
	这是一个活跃的社区，每天群里都有关于领域知识的分享和讨论。 我们的志愿者们会把群里嘉宾分享的内容整理并发布到微信公众号、头条号、知乎等媒体上。 
	希望通过我们的努力，普及支付知识，并通过这种方式来提升支付领域整体的产品、技术和创新能力。 访问【知识库】来查看所有历史分享。 
	<ul>
{% assign posts = site.categories['wechat'] | sort : "date" | reverse %}
{% for post in posts limit:5 %}
	{% assign  display = false  %}
		{% for tag in post.tags %}
			{% if tag == "publish"  %} {% assign display = true %}  {%endif %}
		{% endfor %}
	{% if display %}
    <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> </li>
	{% endif %}
{% endfor %}
	</ul>
	</article>
	</section>
</div>

<div class="session_list" style="height:310px">
	
	<section>
	<header>加入我们</header>
	<article>
	目前已经有200多位产品设计和开发同学参与本项目的工作。如果您是：
	<ul>
		<li>资深支付产品经理：欢迎加入本组织，为项目组提供指导，让大家一起实现您的想法；</li>
		<li>新近产品同学：可以和资深产品同学一起学习支付系统的设计。</li>
		<li>软件架构师：引入最新的软件架构，让您的设计变为现实。</li>
		<li>开发工程师：学习最新的架构设计思想，通过代码实践，来提升您的技术能力。</li>
	</ul>
	请扫码关注“凤凰牌老熊”公众号， 或者并留言<strong>“加入jigsaw项目开发”</strong>，项目组同学会尽快联系你。 
	<div>
	<img src="http://static.cocolian.org/img/reward/weixin.jpg" width="300px" height="300px"/></div>
	</article>
	</section>
</div>


 
</div>
</div>
