---
layout: 	default
title: 		"分享记录列表"
author: 	"支付产品技术群"
date:       2018-02-26 12:00:00 
---

<header class="intro-header">
	<div class="post-heading">                  
		<h1>{{ page.title }}</h1>                
		<ul class="meta">
			<li><i class="icon-user"></i>{% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %}  </li>
		</ul>                
	</div>           
</header>
<!-- Post Content -->
<article class="post-content"> 
    <div class="post-container"><ul>
{% assign posts = site.categories['wechat'] | sort : "date" | reverse %}
{% for post in posts%}
		<li>		
		<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		{% for tag in post.tags %}{% if tag == "hidden"  %}<i class="icon-key"></i> {%endif %}	{% endfor %} 
		</li>
{% endfor %}
	</ul></div>
<hr>

</article>